<nav class="navbar navbar-default" role="navigation" style="background: rgb(255, 255, 255)">
  <div class="container-fluid" style="background: rgb(255, 255, 255)">
    <div class="navbar-header" style="background: rgb(255, 255, 255)">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-docs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Maxwell James Foundation', root_path, class: 'navbar-brand') %>
    </div>
    <div id='bs-docs-example-navbar-collapse-1'>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Maxs Mission', maxs_mission_path %></li>
        <li><a href="#">Memories of Maxwell</a></li>
        <li><a href="#">Miles for Maxwell</a></li>
        <li><a href="#">Maxs Active Love Movement</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Market</a></li>
        <li><a href="#">Milestones</a></li>
        <% if false %>
        # <li class="dropdown">
        #   <a href="#" class="dropdown-toggle" data-toggle="dropdown">External Links<span class='caret'></a>
        #   <ul class="dropdown-menu" role="menu">
        #     <li><a href='#'>What Is Neruoblastoma</a></li>
        #     <li><a href="#">Memorial Sloan Kettering Cancer Center</a></li>
        #   </ul>
        # </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>