<div>
  <h1 style="color: #d8d8d8; background-color: #223d64 !important" align='center'>Maxwell James Foundation</h1>
  <h4 style="color: #d8d8d8; background-color: #223d64 !important" align='center'>Supporting Research and Awareness of Neuroblastoma </h4>
</div>